<!DOCTYPE html>

<html lang="pt-br"xmlns:"http://thymeleaf.org"
	xmlns:"http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Eventos App</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="jumbotron text-center">
		<h1>Todos os Eventos</h1>
		<a href="/">Home</a>
	</div>

	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Local</th>
					<th>Data do Evento</th>
					<th>Horário do Evento</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="evento : ${eventos}">
					<td > <a th:href="@{/detalhesEvento/{codigo}(codigo = ${evento.codigo}) }"><span th:text="${evento.nome}"></span></a></td>
					<td th:text="${evento.local}"></td>
					<td th:text="${evento.data}"></td>
					<td th:text="${evento.horario}"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>
