<!DOCTYPE html>

<html lang="pt-br"xmlns:"http://thymeleaf.org"
	xmlns:"http://www.ultraq.net.nz/thymeleaf/layout">


	
	<div th:replace="fragments/layout/header :: header"></div>
	<title>Eventos App - Home</title>



<body>

	<div class="jumbotron text-center">
		<h1>Eventos</h1>
		
		<br><br>
		
		<a href="/cadastrarEvento" class="btn btn-primary">
			Cadastrar Eventos
		</a>
		
		<a href="/eventos" class="btn btn-primary">
			Listagem dos Eventos
		</a>
		
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h3>Column 1</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
					laboris...</p>
			</div>
			<div class="col-sm-6">
				<h3>Column 2</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
					laboris...</p>
			</div>
		
		</div>


	</div>

</body>
</html>
